@import url("./buttons.css");
@import url("./checkbox.css");
@import url("./radio.css");
@import url("./text-input.css");
@import url("./label.css");
@import url("./fieldset.css");

input {
  &.block {
    display: block;
  }

  &.inline-block {
    display: inline-block;
  }

  &.inline-flex {
    display: inline-flex;
  }

  &.inline-grid {
    display: inline-grid;
  }
}
