input[type="search"] {
  /* Fix search box appearance safari */
  appearance: none;
  appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    background-color: var(--accent-foreground);
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
    background-size: 20px 20px;
    height: 20px;
    width: 20px;
}

textarea,
input[type="date"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  border-color: var(--accent-midground);
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  font-size: calc(var(--font-size-body) + var(--font-size-scale));
  padding: 0.4em;
  color: var(--text);
  background-color: var(--background);
  width: 15.5em;

  &:focus {
    /* Form focused */
    border-color: var(--accent-foreground);
  }

  &:disabled {
    /* Form disabled */
    background-color: var(--accent-background);
  }

  &:hover:not([disabled]) {
    border-color: var(--accent-foreground);
  }
}
