dd { margin-inline-start: 0; }

dl {
  padding: 0;

  & dt {
    padding: 0;
    margin-block-start: 1em;
    font-size: 1em;
    font-style: italic;
    font-weight: 600;
  }

  & dd {
    padding-inline: 1em;
    margin-block-end: 1.25em;
  }
}
