/* 1. Remove the gray background on active links in IE 10.
   2. Remove gaps in links underline in iOS 8+ and Safari 8+. */
a {
  background-color: transparent; /* 1 */
  text-decoration-skip-ink: auto; /* 2 */
  color: var(--link-text);
  text-decoration: underline;
  text-decoration-thickness: from-font;
  text-underline-offset: 0.15em;

  &:focus-visible {
    outline: 2px solid currentcolor;
    outline-offset: 2px;
  }

  &:active,
  &:focus,
  &:hover { text-decoration-thickness: 0.12em; }
}
