ul,
ol {
  padding-inline-start: 2em;

  & ol { list-style-type: lower-roman; }

  & ul,
  & ol {
    margin-block: 0;

    & ol { list-style-type: lower-alpha; }
  }
}

li > p { margin-block-start: 1em; }
