td,
th { padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  inline-size: 100%;
  overflow: auto;
  word-break: keep-all;

  & th,
  & td {
    padding-block: 6px;
    padding-inline: 13px;
    border: 1px solid var(--accent-midground);
  }

  & th { font-weight: bold; }

  & tr {
    background-color: var(--layer-background);
    border-block-start: 1px solid var(--accent-midground);

    &:nth-child(2n) { background-color: var(--accent-background); }
  }
}
