/* Solarized Light and Solarized Dark palette mapped from Solarized (MIT):
 * https://github.com/altercation/solarized/blob/62f656a02f93c5190a8753159e34b385588d5ff3/README.md
 * https://github.com/altercation/solarized/blob/62f656a02f93c5190a8753159e34b385588d5ff3/vim-colors-solarized/colors/solarized.vim
 */

/* stylelint-disable color-hex-length -- Preserve upstream palette notation. */

:root[data-mine-theme="solarized"] {
  /* Solarized Light */
  --light-text: #586e75;
  --light-background: #fdf6e3;
  --light-layer-background: #eee8d5;
  --light-accent-background: #eee8d5;
  --light-accent-midground: #586e75;
  --light-control-border: #586e75;
  --light-accent-foreground: #586e75;
  --light-link-text: #073642;
  --light-valid: #073642;
  --light-invalid: #dc322f;
  --light-mark-background: #eee8d5;
  --light-code-text: #073642;
  --light-code-background: #eee8d5;
  --light-code-border: #586e75;

  /* Solarized Dark */
  --dark-text: #93a1a1;
  --dark-background: #002b36;
  --dark-layer-background: #073642;
  --dark-accent-background: #073642;
  --dark-accent-midground: #839496;
  --dark-control-border: #839496;
  --dark-accent-foreground: #93a1a1;
  --dark-link-text: #b58900;
  --dark-valid: #859900;
  --dark-invalid: #dc322f;
  --dark-mark-background: #073642;
  --dark-code-text: #93a1a1;
  --dark-code-background: #073642;
  --dark-code-border: #839496;
}

/* stylelint-enable color-hex-length */
