/* html should be at the top */

html {
  box-sizing: border-box;
  font-family: var(--font-body);
  font-size: var(--font-size-body);
  line-height: var(--line-height-body);
}

/* Remove the margin in all browsers. */
body {
  margin: 0;
  background-color: var(--background);
  color: var(--text);
}

/* apply a natural box layout model to all elements, but allowing components to change
   https://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}
